# build & cache
.eslintcache
.next
.stylelintcache

# configs
ci
docker-compose.yml
Dockerfile

# dependencies
node_modules

# misc
.DS_Store
.env
.env.*
!.env.example
.favorites.json
.git
.gitignore
.vscode

CHANGELOG.md
Makefile
README.md

# testing
coverage
