# build & cache
build

# configs
ci
docker-compose.yml
Dockerfile

# dependencies
node_modules

# misc
.DS_Store
.env
.env.development
.env.production
.favorites.json
.git
.gitignore
.vscode
CHANGELOG.md
Makefile
README.md

# testing
coverage
