# build & cache
.eslintcache
.next
.stylelintcache
build

# configs
next-env.d.ts

# dependencies
node_modules

# misc
.DS_Store
# misc
.env
.env.development
.env.local
.env.production
.favorites.json
.vscode
