// Copyright rigélblu inc.
// All rights reserved.
@import './variables.scss';

html {
  -webkit-font-smoothing: antialiased;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji' !important;
  margin: 0 auto;
  scroll-behavior: smooth;
  scroll-padding-top: 3rem;
}

body {
  background-color: mgn-color('yellow-lighter') !important;
}

header {
  position: sticky;
  margin: 0 auto;
  width: 100%;
  max-width: $mgn-page-max-width;
  top: 0;
  z-index: 2;
}

footer {
  max-width: $mgn-page-max-width;
  margin: 0 auto;
}

nav {
  font-size: text-size('small');
  font-weight: bold;
  padding: 0.25em 0;
}

main {
  margin: 0 auto;
  max-width: 1300px;
}

a {
  color: mgn-color('blue-rb');
  text-decoration: none;
}

a.secondary::after {
  display: inline-block;
  position: relative;
  content: '';
  left: 0.2em;
  vertical-align: middle;
  // By using an em scale, the arrows will size with the font
  width: 0.3em;
  height: 0.3em;
  border-right: 0.1em solid mgn-color('blue-rb');
  border-top: 0.1em solid mgn-color('blue-rb');
  transform: rotate(45deg);
  margin-right: 0.5em;
}

// -------------------------------
// Utility classes
@each $name, $color in $mgn-colors {
  .mgn-text-#{$name} {
    color: $color;
  }
}

@each $name, $color in $mgn-colors {
  .mgn-bg-#{$name} {
    background: $color;
  }
}
