// Copyright rigélblu inc.
// All rights reserved.

.mgn-scene {
  p {
    margin-bottom: 0.1rem;
    text-indent: 0.9rem !important;
  }

  // FIXME: make colors pass contrast accessibility
  &-blue {
    border-left: solid blue;
  }

  &-green {
    border-left: dotted green;
  }

  &-orange {
    border-left: dashed orange;
  }

  &-black {
    border-left: solid black;
  }
}
